@Html.Partial("_HeaderSeeAlso")

<div class="alert alert-info">
    <span class="help-block"><strong>Info: </strong>This page lists all parts that are expected today or in the future. Please check the <a href="@Url.Action("PartsOverdue")" title="Parts Overdue list">Parts Overdue</a> list for all item that were expected to arrive before today.</span>
    <span class="help-block"><strong>Tip: </strong>To quickly check-in one of the parts listed below, simply click on the <span aria-hidden="true" class="glyphicon glyphicon-check"></span> to the right of the listed part.</span>
    @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "selectDaysAhead" }))
    {
        <div class="row">
        <div class="col-md-3">
            @Html.DropDownList("DaysAhead", new SelectList(ViewBag.DaysAhead, "Key", "Value", 30), new { @class = "form-control", onchange = "this.form.submit();" })
        </div>
    </div>
    }
</div>

@Html.Partial("_IndexPartsExpected")

@section scripts {
@*@Scripts.Render("~/bundles/datatables")*@
    <script src="@Url.Content("~/DataTables/LibraryAdmin/PartsReceived/_IndexPartsExpected.js")" type="text/javascript"></script>
}
