@model slls.ViewModels.TitleEditViewModel
@using Westwind.Globalization

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "selectTitle" }))
{
    @Html.AntiForgeryToken()

    <div class="row" style="margin-right: 0">
        <div class="col-md-12">To view/edit another item, start typing part of the title ...</div>
        <div class="col-md-12" title="To view/edit another title, start typing ...">
            @Html.TextBoxFor(x => x.SelectTitle, new {@class = "form-control"})
        </div>
    </div>
}