@using Westwind.Globalization
@model slls.ViewModels.TitleDetailsViewModel

@Html.Label(DbRes.T("Languages.Language", "FieldDisplayName"))&nbsp;&nbsp;<a href="@Url.Action("_add", "Languages")" class="button" id="addLanguageLink" title="Language not in the list?&#013;Add a new one now."><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span></a>
@Html.DropDownList("LanguageID", null, new { @class = "form-control" })
@Html.ValidationMessageFor(model => model.LanguageID, "", new { @class = "text-danger" })

<div id="newLanguageDialog" title="Add New Language"></div>