@model slls.ViewModels.TitlesListViewModel

@Html.Partial("_HeaderSeeAlso", Model)

<p>
    <a href="#" class="btn-link" onclick="window.history.back();">Back to list</a>
</p>

@Html.Partial("_Index", Model)
