@model slls.ViewModels.TitlesListViewModel

@Html.Partial("_HeaderSeeAlso", Model)

<div class="alert alert-info">
    <div class="help-block">This page lists all Catalogue Titles that do not currently have a cover image. Add images individually by clicking on the <span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span> button in the right-hand column alongside a particular title. Alternatively, use the 'Download Images' tool to look for images using AutoCat.</div>
    <p>
        <a href="@Url.Action("DownloadImagesAutoCat", "TitleImages")" title="Download images using AutoCat" class="btn btn-primary"><span aria-hidden="true" class="glyphicon glyphicon-cloud-download"></span> Download Images</a>
    </p>
</div>

<div>
    @Html.Partial("_IndexNoImage", Model)
</div>