@model slls.Models.TitleImage

<div class="modal-body">
    <button type="button" class="close" id="btn_Close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <img src="@Url.Action("RenderImage", "Files", new { id = Model.ImageId, area = "" })" >
</div>

@section scripts {
    <script type="text/javascript">
        $(function() {
            $('#btn_Close').click(function() {
                $('#lrgModal').modal('hide');
                $('#stdModal').modal('hide');
            });
        });
    </script>
}