@model slls.Models.Publisher

@using (Html.BeginForm("_add", "Publishers", FormMethod.Post, new { id = "addPublisherForm" }))
{
    <div class="form-group">
        <br />
        @Html.EditorFor(model => model.PublisherName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.PublisherName)
    </div>
    
}