<ExternalLogins>
  
<!--
  Configure which external login methods are available.
  
  Note: The following are settings that could differ per customer
  This file should reside in the '\Customer' sub-folder and
  should not get updated by upgrades/updates/patches, etc
-->
  
  <!-- Enable 'MixedMode' for in-house (intranet) solutions  -->
  <MixedMode Enabled="True" />

  <!-- The following methods all require an ID and a Secret Key which are specific to the url of the published application  -->

  <!-- Use a Microsoft Account  -->
  <Microsoft Enabled="False" 
             clientId="" 
             clientSecret="" />

  <!-- Use a Twitter Account  -->
  <Twitter Enabled="False" 
           consumerKey="" 
           consumerSecret=""/>

  <!-- Use a Facebook Account  -->
  <Facebook Enabled="False" 
            appId="" 
            appSecret=""/>

  <!-- Use a Googler Account  -->
  <Google Enabled="False" 
          ClientId="283499943664-1rgb7bf0ngabdh9f2rvnkel86fejiv5r.apps.googleusercontent.com" 
          ClientSecret="QFLciJg6cvGMDZkGi_JvTj_a "/>
  
</ExternalLogins>
