@model slls.ViewModels.SimpleSearchingViewModel
@using Westwind.Globalization

<h5>@DbRes.T("Publishers.Publisher", "FieldDisplayName")</h5>
<ul class="list-unstyled">
    @Html.EditorFor(model => model.PublisherFilter)
</ul>
<div>
    <a href="@Url.Action("AdminShowAllPublishersFilter", "Searching")" class="btn btn-show-more" title="Show more" data-toggle="modal" data-target="#lrgModal"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span> Show All @DbRes.T("Publishers", "EntityType")</a>
</div>
<hr class="hr-compact" />

@section scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $(function() {
                $("input[type='checkbox']").change(function() {
                    $(this).closest("form").submit();
                });
            });
        });
    </script>
}