<div class="modal-header">
</div>
<div class="modal-body">
    <div class="alert alert-info fade in">
        <a href="#" class="close" data-dismiss="modal" aria-label="close">&times;</a>
        <strong>Info!</strong> @ViewBag.AlertText
    </div>
</div>
