<hr class="noprint" />
<footer class="noprint">
    <div class="row">
        <div class="col-md-4">
            &copy; @DateTime.Now.Year - <a href="http://www.baileysolutions.co.uk/" title="Bailey Solutions Ltd" target="_blank">Bailey Solutions Ltd</a>
        </div>
        <div class="col-md-4">
            <div class="center" style="text-align: center;"><span style="font-weight: bold; font-size: larger;"><a href="http://www.simplelittlelibrarysystem.co.uk/" title="Simple Little Library System" style="color: deeppink;" target="_blank">simplelittlelibrarysystem.com</a></span></div>
        </div>
        <div class="col-md-4">
            <span class="pull-right">
                @Html.ActionLink("About", "About", "Home", new { area = "" }, null) |
                @Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, null)
            </span>
        </div>
    </div>
</footer>
    