<div class="container">
    <hr class="noprint" />
    <footer class="noprint">
        <div class="row">
            <div class="col-md-4">
                &copy; @DateTime.Now.Year - <a href="http://www.baileysolutions.co.uk/" title="Bailey Solutions Ltd" target="_blank">Bailey Solutions Ltd</a>
            </div>
            <div class="col-md-4">
                <div class="center" style="text-align: center;"><span style="font-weight: bold; font-size: larger;"><a href="http://www.simplelittlelibrarysystem.co.uk/" title="Simple Little Library System" style="color: deeppink;" target="_blank">simplelittlelibrarysystem.com</a></span></div>
            </div>
            <div class="col-md-4">
                <span class="pull-right">
                    <a href="@Url.Action("About", "Home", new { area = "" })" title="About Simple Little Library System">About</a> |
                    <a href="@Url.Action("Contact", "Home", new { area = "" })" title="Contact Bailey Solutions">Contact</a>
                </span>
            </div>
        </div>
    </footer>
</div>