@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/DatePickerReady.js"></script>
}

<div>
    <span class="btn-group pull-right">
        <button type="button" class="btn-link" onclick="window.history.back();">Cancel</button>
    </span>
    <h2>@ViewBag.Title</h2>

    @if (TempData["NoData"] != null)
    {
        @Html.Partial("_NoData", TempData["NoData"])
    }
</div>

