@using Westwind.Globalization

@*<link href="~/Content/bootstrap-datepicker.css" rel="stylesheet"/>*@

<div class="modal-header">
    <span class="pull-right">
        <button type="submit" id="btnSave" value="Save" class="btn btn-success"><span aria-hidden="true" class="glyphicon glyphicon-ok"></span> @DbRes.T("Buttons.Ok", "Terminology")</button>
        &nbsp;&nbsp;or&nbsp;<button type="button" class="btn-link" data-dismiss="modal">@DbRes.T("Buttons.Cancel", "Terminology")</button>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>  
    </span>
    <h3 class="modal-title" id="titleLabel">@ViewBag.Title</h3>
</div>
