<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/bootstrap-datepicker.min.js"></script>
<script src="~/Scripts/DatePickerReady.js"></script>
<link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title" id="titleLabel">@ViewBag.Title</h3>
</div>

<script type="text/javascript">
    $(function () {
        $('#btnCancel').click(function () {
            $('#lrgModal').modal('hide');
            $('#stdModal').modal('hide');
        });

        $('form').submit(function (e) {
            e.preventDefault();
            $.post(this.action, $(this).serialize(), function (response) {
                if (response.error) {
                    alert(response.error);
                }
                else {
                    $('#stdModal').modal('hide');
                    $('#lrgModal').modal('hide');
                    location.reload();
                }
            }, 'json');
        });
    });
</script>

