@using Westwind.Globalization
<div class="modal-footer">
    <button type="submit" id="btnDelete" value="Delete" class="btn btn-danger"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span> @DbRes.T("Buttons.Confirm_Delete", "Terminology")</button>
    @*<button type="button" class="btn btn-default" data-dismiss="modal">@DbRes.T("Buttons.Cancel", "Terminology")</button>*@
    &nbsp;&nbsp;or&nbsp;<button type="button" class="btn-link" data-dismiss="modal">@DbRes.T("Buttons.Cancel", "Terminology")</button>
</div>