@model slls.ViewModels.SimpleSearchingViewModel
@using Westwind.Globalization

<h5>@DbRes.T("Languages.Language", "FieldDisplayName")</h5>
<ul class="list-unstyled">
    @Html.EditorFor(model => model.LanguageFilter)
</ul>
<div>
    <a href="@Url.Action("ShowAllLanguagesFilter", "Home")" class="btn btn-show-more" title="Show more" data-toggle="modal" data-target="#lrgModal"><span aria-hidden="true" class="glyphicon glyphicon-plus-sign"></span> Show All @DbRes.T("Languages", "EntityType")</a>
</div>
<hr class="hr-compact" />
