@*<div class="success-msg"><span class="glyphicon glyphicon-thumbs-up"></span> @TempData["SuccessMsg"]</div>*@

<div class="alert alert-success" role="alert">
    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
    <span class="sr-only">Message:</span>
    @TempData["SuccessMsg"]
</div>

