<div class="alert alert-danger" role="alert">
    <span aria-hidden="true" class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    @TempData["ErrorMsg"]
</div>
