<script src="@Url.Content("~/Scripts/report-no-data.js")" type="text/javascript"></script>

@Html.Hidden("HasData", (string)Model.HasData.ToString())

<div id="noDataDialog" title="@Model.NoDataTitle" style="display: none;">
    @Model.NoDataMsg
</div>