@using (Html.BeginForm(null, null, FormMethod.Get, new { id = "selectMonthYear" }))
{
    <div class="alert alert-info">
        <span class="help-block"><strong>Info: </strong>@ViewBag.InfoMsg</span>
        <div class="row">
            <div class="col-md-3">
                @Html.DropDownList("month", new SelectList(ViewBag.Months, "Key", "Value"), new {@class = "form-control", onchange = "this.form.submit();"})
            </div>
            <div class="col-md-2">
                @Html.DropDownList("year", new SelectList(ViewBag.Years, "Key", "Value"), new {@class = "form-control", onchange = "this.form.submit();"})
            </div>
        </div>
    </div>
}

@*@Scripts.Render("~/bundles/modalAddEditHeader")*@
