@using System.Linq
@using slls.Models
@using Roles = slls.Utils.Helpers.Roles
@{
    ViewBag.Title = "About Simple Little Library System";

    var db = new DbEntities();
    var releaseId = db.ReleaseHeaders.Max(r => r.ReleaseId);
    var releaseHeader = db.ReleaseHeaders.Find(releaseId);
    var releaseNumber = releaseHeader.ReleaseNumber;
    var releaseName = releaseHeader.ReleaseName;
    var releaseDate = releaseHeader.ReleaseDate.ToString();
}



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title</h2>
            <h3>@ViewBag.Message</h3>
            <div class="col-md-3">
                <img title="Cake!" alt="" src="../Images/cake-three-icon.png" />
            </div>
            <div class="col-md-9">
                <p>
                    <span style="font-weight: bold; color: deeppink; font-size: large;">
                        "So simple, it's a piece of cake!"
                    </span>
                </p>
                <p>
                    Launched in 2016, Simple Little Library System is a re-write of PenLib using modern browser based technology. So all the library software packages are fully responsive for mobiles, tablets, laptops and computers.
                </p>
                <p>
                    Simple Little Library System is backed by over 20 years of technical expertise. It retains all the loved features of PenLib and adds new functionality combined with a fresh new intuitive user interface.
                </p>
                <br/>
                <br/>
                <p>
                    You are currently using @releaseName (@releaseNumber) - @releaseDate
                    @{
                        if (Roles.IsLibraryStaff())
                        {
                            <span>. View the <a href="@Url.Action("ReleaseNotes","Home")" title="View Release Notes"> Release Notes</a></span>
                        }
                    }
                </p>
            </div>
        </div>
    </div>
</div>
