@model slls.ViewModels.NewEmailViewModel

@Html.Partial("_ModalAddHeader")

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

		<div class="modal-body">
    
			<div class="form-horizontal">

                @Html.Partial("_NewEmailPartial")

			</div>
		</div>

     @Html.Partial("_ModalAddFooter")
}

