@model System.Collections.Generic.IEnumerable<slls.Models.Copy>

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(null, null, FormMethod.Get, new { id = "TitlesTable" }))
{
    <div class="alert alert-info">
        <div class="form-group">
            @Html.DropDownList("ListStatus", null, new { @class = "form-control", onchange = "this.form.submit();" })
        </div>
    </div>
}

<div id="TitlesTable">
    @Html.Partial("_IndexNoStatus", Model)
</div>

@section scripts {
    @*@Scripts.Render("~/bundles/datatables")*@
    <script src="@Url.Content("~/DataTables/LibraryAdmin/Copies/_IndexNoStatus.js")" type="text/javascript"></script>
}
