@model slls.Models.Author

@using (Html.BeginForm("_add", "Authors", FormMethod.Post, new { id = "addAuthorForm" }))
{
    <div class="form-group">
        <br />
        @Html.EditorFor(model => model.DisplayName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.DisplayName, "", new { @class = "text-danger" })
    </div>
    
}