@using Westwind.Globalization
@model slls.ViewModels.BarcodeEnquiryViewModel

<div class="panel panel-gadget shadowed">
    <div class="panel-heading">
        <span class="panel-title">
            <span aria-hidden="true" class="glyphicon glyphicon-sunglasses"></span>&nbsp;<span id="gadget-Title">@ViewBag.Title</span><span class="pull-right"></span>
        </span>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("BarcodeLookup", "Searching", new AjaxOptions { HttpMethod = "post", OnFailure = "OnFailure" }))
        {
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.Label("Enter a " + DbRes.T("CopyItems.Barcode", "FieldDisplayName"))
                        @Html.EditorFor(model => model.Barcode, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Barcode, "", new { @class = "text-danger" })
                    </div>
                </div>
                <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-sunglasses"></i> Look-Up</button>
            </div>
        }
    </div>
</div>
