@using Westwind.Globalization
@model slls.ViewModels.ParameterIndexViewModel

<h2>@ViewBag.Title</h2>

<div class="alert alert-info">
    <p>
        <strong><span class="glyphicon glyphicon-info-sign"></span> </strong>Use this page to control the password policy settings that are applied when creating a new password.
    </p>
    
</div>

@Html.Partial("_index")
