@using Westwind.Globalization
@model slls.ViewModels.ParameterIndexViewModel

<h2>@ViewBag.Title</h2>

<div class="alert alert-info">
    <p>
        Use this feature to control a number of styling settings (css) used throughout the system. These settings are all stored in the database.
    </p>
    <p>
        <strong>Tip: </strong>If you need to change the styling of an element that is not covered in this list, you can manually add the element and the required styles to the "../Customer/Styles/styling.css" file. Please ask <a href="mailto:support@baileysolutions.co.uk" title="Email support at Bailey Solutions">support</a> for further advice.
    </p>
</div>

@Html.Partial("_index")
