@model slls.Models.MediaType

@using (Html.BeginForm("_add", "MediaTypes", FormMethod.Post, new { id = "addMediaForm" }))
{
    <div class="form-group">
        <br/>
        @Html.EditorFor(model => model.Media, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Media, "", new { @class = "text-danger" })
    </div>
    
}