@using Westwind.Globalization

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title" id="titleLabel">@ViewBag.Title</h3>
</div>

<div class="modal-body">
    @ViewBag.Msg
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-success" data-dismiss="modal">@DbRes.T("Buttons.Ok", "Terminology")</button>
</div>
