<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">

<style type="text/css">
    .bootstrap-select .dropdown-toggle .filter-option {
        font-family: 'Source Code Pro', 'Courier New', 'Courier', monospace;
    }

    .bootstrap-select .dropdown-toggle .filter-option:before {
        font-family: 'Source Code Pro', 'Courier New', 'Courier', monospace;
    }

    .bootstrap-select.btn-group .dropdown-menu.inner {
        font-family: 'Source Code Pro', 'Courier New', 'Courier', monospace;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <form>
        <div class="form-group" title="@ViewBag.Message">
            @Html.DropDownList("selectOrder", null, new { onchange = "window.location.href = this.options[this.selectedIndex].value;", @class = "form-control selectpicker", style = "font-family: 'Source Code Pro', 'Courier New', 'Courier', monospace;" })
        </div>
    </form>
}

<script type="text/javascript">
    $(document).ready(function() {

        $('.selectpicker').selectpicker({
            liveSearch: true,
            showSubtext: true
        });
    });

    $("#selectOrder").change(function () {
        sessionStorage.removeItem('lastTab_EditOrder');
    });
</Script>
