<div class="alert alert-info">
    <span class="help-block"><strong>Info: </strong>@ViewBag.InfoMsg</span>
    @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "OrdersTable" }))
    {
        @Html.DropDownList("ListSupplier", null, "Filter by Supplier", new { @class = "form-control", onchange = "this.form.submit();" })
    }
</div>
