@using slls.Models
@using Westwind.Globalization
@model slls.ViewModels.OrderDetailsListViewModel

@Html.Partial("_HeaderSeeAlso", Model)

@Html.Partial("_SupplierFilter")

<div id="OrdersTable">
    @Html.Partial("_Outstanding", Model)
</div>

@section scripts {
@*@Scripts.Render("~/bundles/datatables")*@
    <script src="@Url.Content("~/DataTables/LibraryAdmin/OrderDetails/_Outstanding.js")" type="text/javascript"></script>
}



    

