@using slls.Models
@using Westwind.Globalization
@model slls.ViewModels.OrderDetailsListViewModel

@Html.Partial("_HeaderSeeAlso", Model)

@Html.Partial("_SupplierFilter")

<div id="OrdersTable">
    @Html.Partial("_Outstanding", Model)
</div>




