@using slls.Models
@using Westwind.Globalization
@model slls.ViewModels.OrderDetailsListViewModel

@Html.Partial("_HeaderSeeAlso", Model)

<div class="alert alert-info">
    @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "OrdersTable" }))
    {
        @Html.DropDownList("ListBudgetCodes", null, "Select a " + DbRes.T("BudgetCode.Budget_Code", "FieldDisplayName"), new { @class = "form-control", onchange = "this.form.submit();" })
    }

</div>

<div id="OrdersTable">
    @Html.Partial("_Index", Model)
</div>

@section scripts {
@*@Scripts.Render("~/bundles/datatables")*@
    <script src="@Url.Content("~/DataTables/LibraryAdmin/OrderDetails/_Index.js")" type="text/javascript"></script>
}




