@using slls.Models
@using Westwind.Globalization
@model slls.ViewModels.OrderDetailsListViewModel

@Html.Partial("_HeaderSeeAlso", Model)

<div class="well">
    @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "OrdersTable" }))
    {
        @Html.DropDownList("ListTitles", null, "Select a " + DbRes.T("Titles.Title", "FieldDisplayName"), new { @class = "form-control", onchange = "this.form.submit();" })
    }

</div>

<div id="OrdersTable">
    @Html.Partial("_Index", Model)
</div>




