<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="DbResourceConfiguration" requirePermission="false" type="System.Configuration.NameValueSectionHandler,System,Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="ExternalLogins" type="slls.OWinConfigSection" requirePermission="false" allowLocation="true" />
  </configSections>
  <connectionStrings>
    <add name="SLLS" connectionString="data source=BS-SQLSERVER;initial catalog=baileySlls;persist security info=True;user id=baileySlls;password=mnbv;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--<connectionStrings configSource="Customer\Settings\Connect.config" />-->
  <appSettings file="Customer\Settings\AppSettings.config">
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="enableSimpleMembership" value="false" />
    <add key="RouteDebugger:Enabled" value="false" />
    <add key="RecaptchaPrivateKey" value="6LeSgAkUAAAAAPHClIEiP_bUGNLlsxHYD7kVsJz9" />
    <add key="RecaptchaPublicKey" value="6LeSgAkUAAAAANr-gwzhLkia8yXMSmUzDZCFyFnE" />
    <!--<AutoCat:Amazon>-->
    <add key="AmazonAwsNamespace" value="http://webservices.amazon.com/AWSECommerceService/2011-08-01" />
    <add key="AmazonAwsService" value="AWSECommerceService" />
    <add key="AmazonAwsAssociateTag" value="wwwbaileysolu-20" />
    <add key="AmazonAwsOperation" value="ItemLookup" />
    <add key="AmazonAwsIdType" value="ISBN" />
    <add key="AmazonAwsResponseGroup" value="Images,ItemAttributes" />
    <add key="AmazonAwsSearchIndex" value="Books" />
    <add key="MvcSiteMapProvider_IncludeAssembliesForScan" value="slls" />
    <add key="MvcSiteMapProvider_UseExternalDIContainer" value="false" />
    <add key="MvcSiteMapProvider_ScanAssembliesForSiteMapNodes" value="true" />
  </appSettings>
  <system.web>
    <globalization uiCulture="en" culture="en-GB"/>
    <compilation debug="true" targetFramework="4.5" />
    <customErrors mode="Off" defaultRedirect="~/Error">
      <error redirect="~/Error/NotFound" statusCode="404" />
    </customErrors>
    <httpRuntime targetFramework="4.5" />
    <!-- Authentication Mode: Use either "Windows" for AD integration, or "None" for form-based and external logins. 
         *** When using "Windows", 'anonymous authentication' must be "false" and 'windows authentication' must be set to "true" for this site in IIS. ***
         *** When using "None", 'anonymous authentication' must be "true" and 'windows authentication' must be set to "false" for this site in IIS. *** -->
    <authentication mode="Windows" />
    <!--<authorization>
      <deny users="?" />
    </authorization>-->
  </system.web>
  <!-- Use this config file, located in "Customer\ExternalLogins.config"  to control what, if any, external login providers (e.g. Facebook, Google, etc.) are available -->
  <ExternalLogins configSource="Customer\ExternalLogins.config" />
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <DbResourceConfiguration>
    <add key="ConnectionString" value="SLLS" />
    <add key="ResourceTableName" value="Localization" />
    <add key="ResxExportProjectType" value="Project" />
    <add key="StronglyTypedGlobalResource" value="~/App_GlobalResources/FieldName.designer.cs" />
    <add key="ResourceBaseNamespace" value="slls.Resources" />
    <add key="ResxBaseFolder" value="~/Resources/" />
    <add key="AddMissingResources" value="True" />
    <add key="LocalizationFormWebPath" value="~/LocalizationAdmin/" />
    <add key="BingClientId" value="" />
    <add key="BingClientSecret" value="" />
  </DbResourceConfiguration>
</configuration>