@model System.Collections.Generic.IEnumerable<slls.Models.Borrowing>

@Html.Partial("_HeaderSeeAlso", Model)

<div id="Loans">
    @Html.Partial("_ItemsOnLoan", Model)
</div>

@section scripts {
@*@Scripts.Render("~/bundles/datatables")*@
    <script src="@Url.Content("~/DataTables/LibraryAdmin/Loans/_ItemsOnLoan.js")" type="text/javascript"></script>
}

