@using slls.Utils.Helpers
@using Westwind.Globalization
@model slls.ViewModels.OPACHomePageViewModel

<div class="panel panel-gadget shadowed">
    <div class="panel-heading">
        <span class="panel-title">
            <span aria-hidden="true" class="glyphicon glyphicon-link"></span>&nbsp;<span is="gadget-Title">@ViewBag.Title</span>
            @if (Model.LibraryStaff)
            {
                <span class="pull-right"><a href="@Url.Action("Index", "UsefulLinks", new {area = "LibraryAdmin"})" title="Maintain @DbRes.T("Useful_Links", "EntityType")"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></a></span>
            }
        </span>
    </div>
    <div class="panel-body">
        <ul class="list-unstyled">
            @foreach (var item in Model.UsefulLinks)
            {
                <li style="word-wrap: break-word;">@Html.ResolvedLink(item.Url, item.FileId ?? 0, item.HoverTip, item.DisplayText)</li>
            }
        </ul>
    </div>
</div>
