@model slls.ViewModels.SimpleSearchingViewModel

@Html.Partial("_HeaderSeeAlso", Model)

@using (Html.BeginForm(null, null, FormMethod.Get, new { id = "TitlesTable" }))
{
    <div class="form-group">
        @Html.DropDownList("ListMedia", null, new { @class = "form-control selectpicker", onchange = "this.form.submit();" })
    </div>
}

<br />
<div id="TitlesTable">
    @Html.Partial("_Simpleresults", Model)
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.selectpicker').selectpicker({
            liveSearch: true,
            showSubtext: true
        });
    });
</script>



