@{
    ViewBag.Title = "Contact Us";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewBag.Title</h2>
            <div class="col-md-3">
                <br />
                <img title="Bailey Solutions" src="../../Images/conniouseur-cake-large.png" alt="Bailey Solutions" />
            </div>
            <div class="col-md-3">
                <h4>@ViewBag.Message</h4>
                <address>
                    Curtis House<br />
                    34 Third Avenue, Hove,<br />
                    East Sussex,<br />
                    BN3 2PD.<br />
                    United Kingdom<br />
                    <a href="http://www.baileysolutions.co.uk" title="Bailey Solutions Website" target="_blank">baileysolutions.co.uk</a>
                </address>
            </div>
            <div class="col-md-3">
                <h4>Sales & General Enquiries</h4>
                <address>
                    <abbr title="Phone">Tel:</abbr>
                    +44 (0)1273 773788<br />
                    <abbr title="Email">Mail:</abbr>
                    <a href="mailto:info@baileysolutions.co.uk" title="Email your general enquiries">info@baileysolutions.co.uk</a><br />
                </address>
            </div>
            <div class="col-md-3">
                <h4>Help & Assistance</h4>
                <address>
                    <abbr title="Phone">Tel:</abbr>
                    +44 (0)1273 242958<br />
                    <abbr title="Email">Mail:</abbr>
                    <a href="mailto:support@baileysolutions.co.uk" title="Email support">support@baileysolutions.co.uk</a><br />
                </address>
            </div>
        </div>
    </div>
</div>