@model System.Collections.Generic.IEnumerable<slls.Models.Notification>

<h2>@ViewBag.Title</h2>
@*<hr/>*@

<table class="table">
    @foreach (var notification in Model)
    {
        <tr>
            <td>
                <p>
                    <strong>@Html.Raw(notification.Headline)</strong>
                </p>
                <p>@Html.Raw(notification.Text)</p>
            </td>
        </tr>
    }
</table>
