<?xml version="1.0"?>

<!--
  The following are settings that could differ per customer
  This file should reside in the '\Customer' sub-folder and
  should not get updated by upgrades/updates/patches, etc
-->

<appSettings>

  <!--<AutoCat>-->
  <add key ="AutoCatImageSources" value ="Google,Hammicks,Wildys"/> <!-- Which sources are available to download images from? -->
  <add key ="AutoCatDataSources" value ="Google Books,Hammicks,Wildys,Copac"/> <!-- Which sources are available to download xml/data from? -->
  <add key="AmazonAwsImageSize" value="MediumImage"/>
  
  <!-- Google Analytics site key - this should be different for each site! -->
  <add key="GoogleAnalyticsTrackingId" value="UA-86654061-1"/>
  
  <!-- Other local stuff-->
  <add key ="NonFilingWords" value ="A,An,The" />
  
</appSettings>