<?xml version="1.0"?>

<!--
  The following are settings that could differ per customer
  This file should reside in the '\Customer' sub-folder and
  should not get updated by upgrades/updates/patches, etc
-->

<appSettings>

  <!--<AutoCat>-->
  <add key ="AutoCatImageSources" value ="Amazon,Hammicks,Wildys"/> <!-- Which sources are available to download images from? -->
  <add key ="AutoCatDataSources" value ="Amazon,Hammicks,Wildys,Copac"/> <!-- Which sources are available to download xml/data from? -->
  <add key ="AutoCatIncludeKeywords" value ="true"/>
  <add key ="AutoCatIncludeReviews" value ="true"/>
  <add key ="AutoCatIncludeContents" value ="true"/>

  <add key="AmazonAwsDestination" value="ecs.amazonaws.co.uk"/> <!--Base URL for accessing Amazon-->
  <!--Access keys consist of an access key ID and secret access key, which are used to sign programmatic requests that you make to AWS-->
  <add key="AmazonAwsAccessKeyID" value="AKIAJZIAIBEOY25NRGIQ"/>
  <add key="AmazonAwsSecretKey" value="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"/>
  <add key="AmazonAwsImageSize" value="MediumImage"/>

  <add key="HammicksImageUrl" value ="http://www.hammickslegal.com/live/ProductImage/"/>
  <add key="HammicksXmlUrl" value ="http://www.hammickslegal.com/live/ProductXML/"/>
  
  <add key="WildysUrl" value ="http://www.wildy.com/isbn/"/> <!--Base URL for accessing Wildy & Sons-->
  <add key="WildysToken" value ="3E6W2A2M"/> <!--Token for accessing Wildy & Sons - required!-->

  <add key="CopacUrl" value ="http://copac.ac.uk/search?format=XML+-+MODS"/> <!-- &sort-order=ti   Base URL for accessing Wildy & Sons-->
  
  <!-- Other local stuff-->
  <add key ="NonFilingWords" value ="A,An,The"/>
  
  <!--Password policies-->
  <add key ="pwRequiredLength" value="6"/>

</appSettings>