<?xml version="1.0"?>

<!--
  The following are settings that could differ per customer
  This file should reside in the '\Customer' sub-folder and
  should not get updated by upgrades/updates/patches, etc
-->

<appSettings>

  <!--<AutoCat>-->
  <add key ="AutoCatImageSources" value ="Google,Hammicks,Wildys"/> <!-- Which sources are available to download images from? -->
  <add key ="AutoCatDataSources" value ="Google Books,Hammicks,Wildys,Copac"/> <!-- Which sources are available to download xml/data from? -->
  <add key="AmazonAwsDestination" value="ecs.amazonaws.com"/> <!--Base URL for accessing Amazon. Update for other domains.-->
  <add key="AmazonAwsImageSize" value="MediumImage"/>
  <add key="GoogleBooksUrl" value="https://www.googleapis.com/books/v1/volumes?q="/> <!--Base URL for accessing Google Books api.-->
  <add key="HammicksImageUrl" value ="http://www.hammickslegal.com/live/ProductImage/"/> <!--Base URL for accessing Hammicks Images.-->
  <add key="HammicksXmlUrl" value ="http://www.hammickslegal.com/live/ProductXML/"/> <!--Base URL for accessing Hammicks XML.-->
  <add key="WildysUrl" value ="http://www.wildy.com/isbn/"/> <!--Base URL for accessing Wildy & Sons-->
  <add key="WildysToken" value ="3E6W2A2M"/> <!--Token for accessing Wildy & Sons - required!-->
  <add key="CopacUrl" value ="http://copac.ac.uk/search?format=XML+-+MODS"/> <!-- Base URL for accessing Wildy & Sons-->
  
  <!-- Google Analytics site key - this should be different for each site! -->
  <add key="GoogleAnalyticsTrackingId" value="UA-86654061-1"/>
  
  <!-- Other local stuff-->
  <add key ="NonFilingWords" value ="A,An,The"/>
  
</appSettings>