<?xml version="1.0"?>
<!-- Authentication Mode: Use either "Windows" for AD integration, or "None" for form-based and external logins. 
         *** When using "Windows", 'anonymous authentication' must be "false" and 'windows authentication' must be set to "true" for this site in IIS. ***
         *** When using "None", 'anonymous authentication' must be "true" and 'windows authentication' must be set to "false" for this site in IIS. *** -->
<authentication mode="None" />
