<?xml version="1.0"?>

<connectionStrings>
  <add name="SLLS" connectionString="Data source=BS-SQLSERVER;Initial catalog=baileySlls;User ID=baileySlls;Password=mnbv;Connection Timeout=30;Pooling=True;Min Pool Size=5;Max Pool Size=400;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework"
    providerName="System.Data.SqlClient" />
</connectionStrings>

