<?xml version="1.0"?>
<!-- Database Connection:  
  *** Only the 'Data source=...', 'Initial catalog=...', User ID=...' and 'Password=...'  parts of the 'connectionString' should ever need to be changed. *** 
-->
<connectionStrings>
  <add name="SLLS" connectionString="data source=BS-Server\SQL2008R2;initial catalog=baileySllsDev;persist security info=True;user id=baileySllsDev;password=mnbv;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>

