@*
    This file contains what looks like invalid HTML - i.e. unclosed divs and divs with no opening part.
    Don't worry, it all renderes correctly!
*@

@*
    Close the opened Container div from the _Layout.cshtml ...
*@
@*<div class="container">*@
</div>

<div class="jumbotron">
    <div class="container">
        <h1 class="text-warning">System Configuration</h1>
        <h3 class="text-muted">Simple Little Library System Configuration Dashboard.</h3>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>

        <div class="col-md-4">
        </div>

        <div class="col-md-4">
        </div>
    </div>